@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

div#app {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

main#main {
    background-color: #0088a9;
    flex-grow: 1;
    padding: 20px;
}

.ul_li, .li_a, .header_a, .a_button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    cursor: pointer;
}

.nav_ul {
    list-style: none;
}

.nav_ul li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_ul li a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.nav_ul li a:hover {
    color: #0088a9;
}

.a_button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

img {
    border-radius: 50%;
    width: 50%;
}

.container_piano {
    background-color: #24252A;
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.painel_piano {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.keys_piano {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(1fr, 12);
}

.button_keys_white {
    background-color: white;
    color: black;
    grid-row: 1;
}

.button_keys_black {
    background-color: black;
    color: white;
    grid-row: 1;
}

.painel_piano div span, .painel_piano div label  {
    color: white;
}

/* Profile card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #0088a9;
    color: white;
  }

  .card a, .card p, .card h1, .card div, .card i {
      background-color: #0088a9;
  }

  .title {
    color: white;
    font-size: 18px;
  }
  
  .btn-contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0088a9;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .a_card {
    text-decoration: none;
    font-size: 22px;
    color: black;
    background-color: #0088a9;
  }
  
  .btn-contact:hover,   .a_card:hover {
    opacity: 0.7;
  }