body {
    background-color: thistle;
}
.chess {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 
    100px 0 black,
    200px 0 white,
    300px 0 black,
    400px 0 white,
    500px 0 black,
    600px 0 white,
    700px 0 black,

    0px 100px black,
    100px 100px white,
    200px 100px black,
    300px 100px white,
    400px 100px black,
    500px 100px white,
    600px 100px black,
    700px 100px white,

    0px 200px white,
    100px 200px black,
    200px 200px white,
    300px 200px black,
    400px 200px white,
    500px 200px black,
    600px 200px white,
    700px 200px black,

    0px 300px black,
    100px 300px white,
    200px 300px black,
    300px 300px white,
    400px 300px black,
    500px 300px white,
    600px 300px black,
    700px 300px white,

    0px 400px white,
    100px 400px black,
    200px 400px white,
    300px 400px black,
    400px 400px white,
    500px 400px black,
    600px 400px white,
    700px 400px black,

    0px 500px black,
    100px 500px white,
    200px 500px black,
    300px 500px white,
    400px 500px black,
    500px 500px white,
    600px 500px black,
    700px 500px white,

    0px 600px white,
    100px 600px black,
    200px 600px white,
    300px 600px black,
    400px 600px white,
    500px 600px black,
    600px 600px white,
    700px 600px black,

    0px 700px black,
    100px 700px white,
    200px 700px black,
    300px 700px white,
    400px 700px black,
    500px 700px white,
    600px 700px black,
    700px 700px white;
}