.heart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 300px;
    width: 300px;
    background-color: red;
    transform: rotate(-45deg);
}

.heart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 150px;
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    content: "";
    position: absolute;
    top: -150px;
    left: 0;
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
}