h1 {
    text-align: center;
}

.container1 {
    height: 100rem;
    background-color: aqua;
    position: relative;
}

.container2 {
    height: 100rem;
    background-color: rebeccapurple;
    position: relative;
}

/* Chess */

/* .chess {
    position: absolute;
    margin: auto;
    left: 7%;
    top: 7%;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 100px 0 black, 200px 0 white, 300px 0 black, 400px 0 white, 500px 0 black, 600px 0 white, 700px 0 black, 0px 100px black, 100px 100px white, 200px 100px black, 300px 100px white, 400px 100px black, 500px 100px white, 600px 100px black, 700px 100px white, 0px 200px white, 100px 200px black, 200px 200px white, 300px 200px black, 400px 200px white, 500px 200px black, 600px 200px white, 700px 200px black, 0px 300px black, 100px 300px white, 200px 300px black, 300px 300px white, 400px 300px black, 500px 300px white, 600px 300px black, 700px 300px white, 0px 400px white, 100px 400px black, 200px 400px white, 300px 400px black, 400px 400px white, 500px 400px black, 600px 400px white, 700px 400px black, 0px 500px black, 100px 500px white, 200px 500px black, 300px 500px white, 400px 500px black, 500px 500px white, 600px 500px black, 700px 500px white, 0px 600px white, 100px 600px black, 200px 600px white, 300px 600px black, 400px 600px white, 500px 600px black, 600px 600px white, 700px 600px black, 0px 700px black, 100px 700px white, 200px 700px black, 300px 700px white, 400px 700px black, 500px 700px white, 600px 700px black, 700px 700px white;
} */

.chess {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    transform: translate(-400%, -400%);
    background-color: white;
    box-shadow: 10rem 0 black, 
                20rem 0 white, 
                30rem 0 black, 
                40rem 0 white, 
                50rem 0 black, 
                60rem 0 white, 
                70rem 0 black, 
                0rem 10rem black, 
                10rem 10rem white, 
                20rem 10rem black, 
                30rem 10rem white, 
                40rem 10rem black, 
                50rem 10rem white, 
                60rem 10rem black, 
                70rem 10rem white, 
                0rem 20rem white, 
                10rem 20rem black, 
                20rem 20rem white, 
                30rem 20rem black, 
                40rem 20rem white, 
                50rem 20rem black, 
                60rem 20rem white, 
                70rem 20rem black, 
                0rem 30rem black, 
                10rem 30rem white, 
                20rem 30rem black, 
                30rem 30rem white, 
                40rem 30rem black, 
                50rem 30rem white, 
                60rem 30rem black, 
                70rem 30rem white, 
                0rem 40rem white, 
                10rem 40rem black, 
                20rem 40rem white, 
                30rem 40rem black, 
                40rem 40rem white, 
                50rem 40rem black, 
                60rem 40rem white, 
                70rem 40rem black, 
                 0rem 50rem black, 
                10rem 50rem white, 
                20rem 50rem black, 
                30rem 50rem white, 
                40rem 50rem black, 
                50rem 50rem white, 
                60rem 50rem black, 
                70rem 50rem white, 
                 0rem 60rem white, 
                10rem 60rem black, 
                20rem 60rem white, 
                30rem 60rem black, 
                40rem 60rem white, 
                50rem 60rem black, 
                60rem 60rem white, 
                70rem 60rem black, 
                 0rem 70rem black, 
                10rem 70rem white, 
                20rem 70rem black, 
                30rem 70rem white, 
                40rem 70rem black, 
                50rem 70rem white, 
                60rem 70rem black, 
                70rem 70rem white;
}

/* Heart */

.heart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 300px;
    width: 300px;
    background-color: red;
    transform: rotate(-45deg);
}

.heart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 150px;
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    content: "";
    position: absolute;
    top: -150px;
    left: 0;
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;
}